@import '../../styles/globals.scss';
.container {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 30px auto;
  @include mobile {
  }
  min-width: 200px;
  max-width: 350px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &.red {
    .icon {
      color: $red;
    }
    .info {
      padding-top: 10px;
      h1 {
        color: $red;
      }
    }
  }

  .icon {
    font-size: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
  }
  .info {
    padding: 1rem;
    color: black;

    h1 {
      font-size: $fz-xs;
      font-weight: 900;
      text-align: center;
      // margin-bottom: 1rem;
    }
    p {
      font-size: $fz-xxs;
      font-weight: 300;
      text-align: center;
      margin-bottom: 1rem;
    }
  }
}
