@import '../../../styles/globals.scss';
.container {
  padding: 50px clamp(10vw, 5vw, 20vw);
  background-color: white;
  border-top: rgba(0, 0, 0, 0.132) 4px solid;

  .video {
    padding: 20px;
    .title {
      color: $blue;
      font-size: $fz-xl;

      @include mobile {
        font-size: $fz-md;
      }
    }
  }
}
