@import '../../../styles/globals.scss';
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  padding: $pagePadding;
  padding-top: 80px;
  text-align: center;
  border-bottom: rgba(0, 0, 0, 0.132) 4px solid;

  .title {
    font-size: $fz-lg;
    font-weight: 900;
    color: $red;
    margin: 0;
    padding: 0;

    @include mobile {
      font-size: $fz-md;
      // text-align: center;
    }
  }
  .subTitle {
    font-size: $fz-md;
    font-weight: 200;
    color: $blue;
    margin-bottom: 10px;

    @include mobile {
      font-size: $fz-sm;
    }
  }
  .content {
    font-size: $fz-xs;
    color: #666;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 50px;
    @include mobile {
      font-size: $fz-xxs;
      line-height: 20px;
    }
  }
}
