@import '../../styles/globals.scss';
.donateButton {
  border: none;
  border: $red 3px solid;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  font-size: $fz-xs;
  font-weight: 900;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
  color: $red;
  font-family: 'Metropolis';
  transition: all 0.3s ease;

  &.light {
    border: white 3px solid !important;
    color: white !important;
    background-color: rgba(0, 0, 0, 0) !important;
  }
  &:hover {
    background-color: $red !important;
    color: white !important;
    cursor: pointer;
  }
}
