@import '../../styles/globals.scss';
.waysToGive {
  padding: 2rem;
  max-width: 1400px;
  margin: 0 auto;
  font-family: 'Metropolis';
  color: black;

  @include mobile {
    padding: 1rem;
  }
  .title {
    font-size: $fz-lg;
    margin-bottom: 0.5rem;
    text-align: center;
    @include mobile {
      font-size: $fz-md;
    }
  }

  .subTitle {
    font-size: $fz-sm;
    text-align: center;
    margin-bottom: 2rem;
    @include mobile {
      font-size: $fz-xs;
    }
  }
}

.givingOptions {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  .givingCard {
    background: $red;
    border-radius: 12px;
    border: 5px solid white;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;

    padding: 1.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    color: white;

    @include mobile {
      padding: 1rem;
    }

    h2 {
      font-size: $fz-sm;
    }
    .markdown {
      font-size: $fz-xs;
    }

    a {
      display: inline-block;
      margin-top: 1rem;
      text-decoration: none;
      font-weight: 500;
      color: $blue;
      font-weight: 900;
      background-color: white;
      padding: 0.5rem 2rem;
      border-radius: 30px;
      text-align: center;
      font-size: $fz-xs;
      @include mobile {
        font-size: $fz-xxs;
        width: 100%;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
