@import '../../../../../styles/globals.scss';
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 300px;
  background-color: rgba(255, 255, 255, 0.925);
  margin: 20px;

  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

  .imageContainer {
    margin-bottom: 20px;
    .image {
      object-fit: cover;
      box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
        rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    }
  }

  .content {
    padding: 30px;
    padding-top: 0;
    .name {
      color: $red;
      font-size: $fz-xs;
      padding: 0;
      margin: 0;
    }
    .budgetContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 5px 0;

      color: black;
      font-size: $fz-xs;
      .budgetWord {
        padding: 0;
        margin: 0;
        margin-top: 2px;
        color: rgba(0, 0, 0, 0.533);
        font-size: $fz-xxs;
      }

      div {
        background-color: rgba(0, 0, 0, 0.222);
        height: 1px;
        width: 25%;
      }
    }
    .budget {
      color: black;

      padding: 0;
      margin: 0;
      font-weight: 900;
      padding: 10px 0;
    }
    .description {
      color: rgb(54, 54, 54);
      font-weight: 100;
      font-size: $fz-xxs;
      padding: 0;
      margin: 0;
    }
  }
}
