@import '../../../styles/globals.scss';
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  .container {
    position: relative;
    top: -40px;
    z-index: 90;
    width: 80%;
    @include mobile {
      width: 95%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    background-color: white;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;

    .cardsContainer {
      width: 100%;
      display: flex;
      @include mobile {
        flex-wrap: wrap;
      }
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
    }

    .textContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: $pagePadding;
      margin-top: 1rem;
      font-size: $fz-sm;

      p:first-child {
        font-weight: 700;
        margin-bottom: 1rem;
      }
      p:last-child {
        font-weight: 300;
        margin-bottom: 1rem;
      }
    }
  }
}
